@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.grid {
  display: grid;
  grid-auto-rows: 30px; 
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  background-color: #e0e0e0;
}

.grid input {
  background-color: white; 
  box-sizing: border-box;
  
}

.grid input:focus {
  border-color: #4a90e2; 
  outline: none; 
}

